version: "3"

services:
  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - memes

  parser:
    build:
      context: ./parsers
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - memes

  api:
    build:
      context: ./api
    env_file:
      - ./.env
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - memes

networks:
  memes: